{% extends 'global/base.html' %}

{% block title %}Home{% endblock title %} 

{% block content %}
<div class="container-search">  
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Procurar" aria-label="Procurar">
        <button class="btn btn-outline-success" type="submit">Procurar</button>
    </form>
</div>

<div class="container-layout-empresas">
    <div class="container-empresas">
        {% for empresa in empresas %}
            {% include 'api_food/partials/empresa_lowprofile.html' %}
        {% endfor %}
        
    

    </div>
</div>

{% endblock content %}